
/checkpoints
/results
/functions/__pycache__
/Models/__pycache__
/results_test
/new_test15112024
/new_testpresentation07012025
/BDD100K-Weather_train-retrained
/BDD100K-Weather_train
/BDD100K-Weather_train2
/Image2weather
/n_21012025
/small_n_21012025
/resnet50_bench
/benchmark_1_patchGAN_WeatherNet-05-18039
/benchmark_1_patchGAN_BDD100K-Weather
/benchmark_1_patchGAN_Image2Weather
/benchmark_our
/benchmark_1_patchGAN_our
/benchmark_1_resnet50_gram_Image2Weather
/WeatherNet
/Resnet50_gram_bench
Camera_screenshot_20.01.2025.png
